@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";







@theme {

  /* font family */
  --font-inter: "Inter", sans-serif;
  --font-popins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-source: "Source Code Pro", monospace;

  /* brakpoint */
  --breakpoint-1xl: 90rem;    /* 1440px */

  /* colors */
  --color-primary: #000000;
  --color-secondary: #1B99D4;
  --color-red: #FC3314;
  --color-gray: #6F6B80;
  --color-dark: #231F40;
  --color-dark-gray: #4D607D;
  --color-medium-gray: #E1E1E1;

  /* border radius */
  --radius-ex-sm: 0.313rem;  /* 5px */

  /* spacing */
  --spacing-17: 4.375rem;   /* 70px */
  --spacing-18: 4.5rem;   /* 72px */
  --spacing-22: 5.5rem;   /* 88px */

  /* box shadow */
  --shadow-3xl: 1px 5px 50px rgba(84, 99, 122, 0.1);  
  --shadow-4xl: 0.914005px 4.57002px 45.7002px rgba(84, 99, 122, 0.1);  
}


body{
  @apply font-roboto bg-[#FEFEFE] text-base text-primary font-normal leading-[1.5] min-w-80 scroll-smooth
}
button{
  @apply cursor-pointer
}

@layer base{
  h1,
  .h1 {
    @apply text-4xl lg:text-[42px] lg:leading-12 font-bold text-white;
  }
  h2,
  .h2 {
    @apply text-3xl lg:text-4xl lg:leading-8 font-bold text-[#252525];
  }
  h3,
  .h3 {
    @apply text-lg md:text-xl;
  }
  h4,
  .h4 {
    @apply text-base lg:text-xl font-medium text-primary mb-6;
  }
  h5,
  .h5 {
    @apply text-sm lg:text-base;
  }
  h6,
  .h6 {
    @apply text-xs font-medium mb-1;
  }
  p{
    @apply text-base 
  }
}


@layer components{
  .btn{
    @apply bg-secondary text-white px-5 py-2 rounded-ex-sm font-semibold border border-secondary hover:text-white/60 hover:border-primary transition-all duration-500 
  }
}



@utility container{ 
  @apply mx-auto px-4;
  @media (width >= 90rem /* 1440px */) {
        max-width: var(--breakpoint-1xl) /* 1440px */;
        padding-inline: var(--spacing-18)  /* 72px */; 
    }
}


